.description {
  width: $mobile-container-width;
  box-sizing: border-box;
}

.description__header {
  margin: 0;
  margin-bottom: 4px;
}

.description__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  text-align: center;
}

.description__text {
  margin: 0;
  text-align: center;
}
