.header {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: $mobile-width;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.header__wrapper {
  display: flex;
  width: $mobile-width;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: $tablet-container-width;
    margin: 0 auto;
    justify-content: left;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container-width;
  }
}

.header__logo-wrapper {
  @media (min-width: $tablet-width) {
    margin-right: 67px;
  }
}
