.header {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: $mobile-width;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.header__logo-wrapper {
  padding: 12px 12px 12px 20px;
}

.header__nav {
  display: flex;
}
