.links {
  padding-top: 20px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.links__list {
  @include list-reset();
  margin: 0;
}

.links__item:not(:last-child) {
  margin-bottom: 20px;
}

.links__heading {
  margin: 0;
  margin-bottom: 20px;
}
