.nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: $base-black;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}
