.nav {
  align-items: flex-start;
  display: flex;

  @media (min-width: $tablet-width) {
    width: 585px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 971px;
    justify-content: flex-end;
  }
}

//Главное меню
.nav__main-list {
  @include list-reset();
  position: absolute;
  background-color: $base-white;

  //меню открыто
  &--opened {
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 61px;
    width: 100vw;
    transform: translateX(-50%);
    z-index: 1;
  }
  //меню закрыто
  &--closed {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.nav__main-item {
  border-bottom: 1px solid $base-secondary;
  padding: 20px 21px;


  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &--current {
    @media (min-width: $tablet-width) {
      border-bottom: 1px solid $base-primary;
    }
  }
}

.nav__main-item a[href] {
  &:focus,
  &:hover,
  &:active {
    color: $base-primary;
  }
}

.nav__main-item:has(.nav__main-link[href]) {
  &:active {
    background-color: $base-secondary;
  }
}

.main-nav__item:first-child {
  border-top: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.nav__main-item:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.nav__main-link {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

//Пользовательское меню
.nav__user-list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: right;

  @media (min-width: $desktop-width) {
    width: 423px;
  }
}

.nav__user-item {
  padding: 22px;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 44px;
    padding-right: 20px;
  }
}

.nav__user-item:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-right: 21px;
  }
}


//Кнопка - бургер
.nav__button {
  padding: 22px;

  &:active {
    background-color: $base-secondary;
  }
}
