.products__list {
  @include list-reset();
  width: $mobile-container-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-container-width;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    padding-top: 24px;
  }
}

.products__item {
  background-color: $base-white;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 20px 18px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 28px 30px 34px;
  }
}

.products__card-img {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $base-black;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }
}

.products__image-wrapper {
  margin: 0;
  margin-bottom: 20px;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.products__title {
  margin: 0;
  text-align: left;
}

.products__desc {
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.products_cost-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
  align-self: center;
}

.products__cost {
  text-align: left;
}

.products__button {
  justify-self: right;
}
