.slider-button {
  position: relative;
  box-sizing: content-box;
  background-color: inherit;
  padding: 0;
  border: none;
  width: 20px;
  height: 656px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }

  &--prev::after {
    position: absolute;
    content: "";
    mask-image: url("/images/icons/stack.svg#hero-arrow-prev");
    background-color: $base-primary;
    width: 11px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  &--next::after {
    position: absolute;
    content: "";
    mask-image: url("/images/icons/stack.svg#hero-arrow-next");
    background-color: $base-primary;
    width: 11px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  &--prev:hover,
  &--prev:focus {
    background: linear-gradient(to right, $base-white, transparent);
  }

  &--next:hover,
  &--next:focus {
    background: linear-gradient(to right, transparent, $base-white);
  }

  &--prev:active {
    background: linear-gradient(to right, $primary-opacity025, transparent);
  }

  &--next:active {
    background: linear-gradient(to right, transparent, $primary-opacity025);
  }

  &:disabled.slider-button--prev::after {
    background-color: $base-grey;
  }

  &:disabled.slider-button--next::after {
    background-color: $base-grey;
  }
}
