.user-login,
.user-basket {
  box-sizing: border-box;
  display: flex;
  position: relative;
  min-width: 16px;
  min-height: 16px;

  &::before {
    position: absolute;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-color: $base-black;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @media (min-width: $desktop-width) {
      left: -24px;
    }
  }


  &:hover,
  &:focus,
  &:active {
    &::before {
      background-color: $base-primary;
    }
  }
}

.user-login {
  &::before {
    mask-image: url("/images/icons/stack.svg#user");
  }
}

.user-basket {
  &::before {
    mask-image: url("/images/icons/stack.svg#basket");
  }
}

.user-login__text,
.user-basket__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

