/* здесь используйте глобальные переменные */
//шрифты
$font: "Montserrat", sans-serif;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

//colors
$base-white: #ffffff;
